{% load static %}
<html>
    <head>
        <title>Shubham's Site</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> <!--install Bootstrap-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">  
        <!--This doesn't add any files to your project. It just points to files that exist on the Internet.
        Bootstrap is one of the most popular HTML and CSS frameworks for developing beautiful websites--> 
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <!--This line will import a font called Lobster from Google Fonts-->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}"> 
    </head>
    <body>
            <div class="page-header">
                    {% if user.is_authenticated %}
                        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                    {% endif %} 
                <h1><a href="/">Shubham's Blog</a></h1>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
    </body>
</html>